body {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: royalblue;
}

.container {
  width: 800px;
  margin: auto;
  background-color: beige;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}
.form {
  width: 500px;
  height: 150px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputbox {
  width: 400px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.todayWorkInput {
  width: 350px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  border-radius: 15px;
  border: none;
  font-weight: bold;
}
.buttonBox {
  margin: auto;
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  align-items: center;
}
.addButton {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: yellow;
  font-weight: bold;
  font-size: 20px;
}
.todayWorkList {
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: row;
  width: 350px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  font-size: 25px;
  background-color: white;
  margin-top: 5px;
}
.NoneWork {
  border-radius: 10px;
  display: flex;
  width: 400px;
  height: 50px;
  justify-content: center;
  margin: auto;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}
.todayWork {
  margin-left: 30px;
}

.deleteButton {
  margin-right: 30px;
  color: skyblue;
}

.retryBox {
  display: flex;
  margin: auto;
}
.retryButton {
  width: 110px;
  height: 50px;
  border-radius: 7px;
  border: none;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  background-color: yellowgreen;
}
